@import url(node_modules/@shower/material/styles/styles.css);

.shower {
    --slide-ratio: calc(16 / 9);
    --color-key: #1E64C8;
}

.slide {
    padding-top: 42px;
}

.slide.disable {
    visibility: hidden;
}

.slide.title {
    padding-top: 79px;
}

h2.title {
    color: var(--color-key) /*#bdbdbd*/;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    line-height: 1.15em;
}

body {
    font-family: serif;
}

::after {
    font-size: small;
}

.link, .affiliation a, a.invisible {
    text-decoration: none !important;
    text-decoration-thickness: 0 !important;
    margin: 1em;
}

.affiliation {
    align-content: center;
}

.authors {
    color: #bdbdbd;
    font-style: italic;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    padding: 0 9em 0 9em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.logo {
    height: 130px;
    margin: 0 .5em;
}

#fwo {
    height: 75px;
}

img.scaled {
    height: 450px;
    max-width: none;
}

img.scaled-1 {
    height: 350px;
    max-width: none;
}

code {
    font-size: small;
    line-height: 1.4em !important;
    margin: 0;
    padding: 0 !important;
}

code.unselected, code.unselected span {
    color: #bdbdbd !important;
}



mark.unselected {
    color: #bdbdbd;
}

.citation {
    font-style: italic;
    color: #9fa0a1;
    font-size: 50%;
    line-height: 130%;
}

/* slide number bottom right*/
.slide::after {
    content: counter(slide);
    position: absolute;
    bottom: 1em;
    line-height: 1;
    font-weight: bold;
    right: 0;
    width: 5.5em /* = L */;
    text-shadow: none;
    text-align: center
}
.slide.clear::after {
    content: none
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nontransferable {
    background-color = yellow !important;
    font-weight: bold;
}

.vertical {
    flex-direction: column;
}
