@import url(node_modules/@shower/material/styles/styles.css);

.shower {
    --slide-ratio: calc(16 / 9);
    --color-key: #1E64C8;
}

.slide {
    padding-top: 0;
}

.ordered {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.ordered > h2 {
    margin-top: 42px;
}

h2.title {
    color: var(--color-key) /*#bdbdbd*/;
    /*font-weight: bold;*/
    font-size: 36px;
    letter-spacing: 0.15em;
    line-height: 1.15em;
    text-align: center;
    text-transform: uppercase;
}

section.title h2.title {
    font-size: 42px;
    margin-top: 79px;
}

::after {
    font-size: small;
}

.link, .affiliation a, a.invisible {
    text-decoration: none !important;
    text-decoration-thickness: 0 !important;
    margin: 1em;
}

#affiliation {
    align-content: center;
}

.authors {
    color: #bdbdbd;
    font-style: italic;
    font-size: .8em;
    line-height: 1.4;
    text-align: center;
    padding: 0 5em 0 5em;
}

.grow {
    flex-grow: 1;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 0;
}

.gap {
    gap: 2em;
}

.logo {
    height: auto;
    width: 21%;
    margin: 0 .5em;
}

.tiny.logo {
    max-height: 45px;
    width: auto;
    margin-bottom: 'px;
}

#vub {
    width: 14%;
}

div.container.image {
    padding: 0;
}

img.scaled {
    height: auto;
    width: auto;
    max-width: 100%;
}

#hardwarediagram {
    width: 25%;
}

#bouncegraph {
    margin: 0 6em;
}

img.scaled.screenshot {
    max-height: 350px;
}

code {
    font-size: small;
    line-height: 1.4em !important;
    margin: 0;
    padding: 0 !important;
}

code.unselected, code.unselected span {
    color: #bdbdbd !important;
}

mark.unselected {
    color: #bdbdbd;
}

div.container.citation {
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    padding-bottom: 0;
}

p.citation {
    font-style: italic;
    color: #9fa0a1;
    font-size: 50%;
    line-height: 130%;
}

/* slide number bottom right*/
.slide::after {
    content: counter(slide);
    position: absolute;
    bottom: 1em;
    line-height: 1;
    font-weight: bold;
    right: 0;
    width: 5.5em /* = L */;
    text-shadow: none;
    text-align: center
}
.slide.clear::after {
    content: none
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nontransferable {
    background-color = yellow !important;
    font-weight: bold;
}

.vertical {
    flex-direction: column;
}

blockquote {
    line-height: 1.4em;
    padding: 3em;
}
